<h2>Make an <span>Appointment</span> with a Librarian</h2>
<p>If you need help finding information, using databases or other electronic resources or doing library research for a major assignment, 
you are welcome to make an appointment with a librarian.</p>
<h3>Select Your Area of Study:</h3>
<ul class="arrows strong">
<li><a href="/appointment/book/index.cfm?librarianemail=ag">Agricultural, Life and Environmental Sciences</a></li>
<li><a href="/appointment/book/index.cfm?librarianemail=hss">Arts</a></li>
<li><a href="/appointment/book/index.cfm?librarianemail=augustana">Augustana Faculty Library</a></li>
<li><a href="/appointment/book/index.cfm?librarianemail=bus">Business, School of</a></li>
<li><a href="/appointment_fr/index.cfm">Campus Saint-Jean</a></li>
<li><a href="/appointment/book/index.cfm?librarianemail=ed">Education</a></li>
<li><a href="/appointment/book/index.cfm?librarianemail=eng">Engineering</a></li>
<li><a href="/appointment/book/index.cfm?librarianemail=law">Law</a></li>
<li><a href="/appointment/book/index.cfm?librarianemail=hss">Library and Information Studies, School of</a></li>
<li><a href="/appointment/book/index.cfm?librarianemail=hs">Medicine and Dentistry</a></li>
<li><a href="/appointment/book/index.cfm?librarianemail=hss">Native Studies</a></li>
<li><a href="/appointment/book/index.cfm?librarianemail=hs">Nursing</a></li>
<li><a href="/appointment/book/index.cfm?librarianemail=hs">Pharmacy and Pharmaceutical Sciences</a></li>
<li><a href="/appointment/book/index.cfm?librarianemail=ed">Physical Education and Recreation</a></li>
<li><a href="/appointment/book/index.cfm?librarianemail=hs">Rehabilitation Medicine</a></li>
<li><a href="/appointment/book/index.cfm?librarianemail=pubhealth">School of Public Health</a></li>
<li><a href="/appointment/book/index.cfm?librarianemail=sci">Science</a></li>
<li><a href="/appointment/book/index.cfm?librarianemail=hss">Interdisciplinary Collections and Subjects</a></li>
</ul>
<p>Help is also available on a walk-in basis at any <a href="/reference_inperson/index.cfm">service desk</a> during <a href="https://hours.library.ualberta.ca">normal business hours</a>.</p>
				